*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 5%);
    color: white;
}

label{
    width: fit-content;
}

main{

    & .loginForm{

        & .error{
            background-color: hsl(0, 100%, 35%);
        }
    }

    & .registerForm{
        
        & .success{
            background-color: limegreen;
        }

        & .error{
            background-color: hsl(0, 100%, 35%);
        }
    }

    & .todoList{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
